In [30]:
#Pandas is a Python library used for working with data sets.

#It has functions for analyzing, cleaning, exploring, and manipulating data.

import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [31]:
import pandas as pd

print(pd.__version__)

1.4.4

SERIES 

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type

In [44]:
# Create a simple Pandas Series from a list:

import pandas as pd 

a = [1, 2, 3, 4]

my_var = pd.Series(a)

print(my_var)

0    1
1    2
2    3
3    4
dtype: int64

In [46]:
# With the index argument, you can name your own labels.

import pandas as pd 

a = [1, 3, 4]

myvar= pd.Series(a, index = ["x", "y", "z"])

print(myvar)

#When you have created labels, you can access an item by referring to the label.

print(myvar["y"])

x    1
y    3
z    4
dtype: int64
3

Key value object as series 

You can also use a key/value object, like a dictionary, when creating a Series.
The keys of the dictionary become the labels.

In [47]:
import pandas as pd 

calories = {"day1": 420,"day2": 380, "day3": 390} 
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [48]:
# Create a Series using only data from "day1" and "day2":

import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

Pandas use the loc attribute to return one or more specified row(s)

In [ ]:
#Create a simple Pandas DataFrame:


import pandas as pd 

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)
print(df)

#Locate Row
print(df.loc[0])

LOAD FILES INTO DATA FRAMES 
If your data sets are stored in a file, Pandas can load them into a DataFrame.

In [52]:
# PYTHON PANDAS EXERCISE 

import numpy as np
import pandas as pd 

#Given the X python list convert it to an Y pandas series 

X = ['A','B','C']
print(X, type(X))

Y = pd.Series(X)
print(Y, type(Y))

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

In [54]:
# Given the X pandas Series, name it 'My letters

import numpy as np
import pandas as pd 

X = pd.Series(['A','B','C'])
X.name = "My letters"
X

0    A
1    B
2    C
Name: My letters, dtype: object

In [55]:
#Assign index names to the given X pandas Series

X = pd.Series(['A','B','C'])
index_names  = ['first', 'second', 'third']
X.index = index_names
X

first     A
second    B
third     C
dtype: object

In [56]:
#Given the X pandas Series, show its first element

X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])
X['first']

'A'

In [57]:
#Given the X pandas Series, show its last element

X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])
X['third']

'C'

In [59]:
#Given the X pandas Series, show all middle elements

X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth', 'fifth'])
                     
X[1:-1]

second    B
third     C
forth     D
dtype: object

In [63]:
# Given the X pandas Series, show the elements in reverse position

X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])
X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

In [66]:
# Given the X pandas Series, show the first and last elements
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])
X[[0, -1]]

first    A
fifth    E
dtype: object

Series manipulation

In [68]:
# Convert the given integer pandas Series to float
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
pd.Series(X ,dtype = np.float)

/var/folders/9d/nr26220x5y13nvbdpjsn82cw0000gn/T/ipykernel_11322/2775948312.py:4: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  pd.Series(X ,dtype = np.float)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

In [69]:
# Reverse the given pandas Series (first element becomes last)

X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
X[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

In [93]:
# Order (sort) the given pandas Series
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])
X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

In [72]:
# Given the X pandas Series, set the fifth element equal to 10
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])
X[4] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [96]:
# Given the X pandas Series, change all the middle elements to 0

X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])
X[1:-1] = 0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

In [76]:
# Given the X pandas Series, add 5 to every element
X = pd.Series([1,2,3,4,5])

X = X + 5
X

0     6
1     7
2     8
3     9
4    10
dtype: int64

Series boolean arrays (also called masks)

In [97]:
# Given the X pandas Series, make a mask showing negative elements
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = X <= 0
mask

0    False
1     True
2     True
3    False
4     True
5     True
6     True
7     True
8    False
9     True
dtype: bool

In [101]:
# Given the X pandas Series, get numbers higher than 5
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = X >=5
mask

0    False
1    False
2    False
3    False
4     True
5     True
6    False
7    False
8    False
9     True
dtype: bool

In [81]:
# Given the X pandas Series, get numbers higher than the elements mean
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = X > X.mean()
mask

0    False
1     True
2    False
3    False
4     True
5     True
6    False
7    False
8    False
9     True
dtype: bool

In [83]:
# Given the X pandas Series, get numbers equal to 2 or 10
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = (X == 2) | (X == 10)
mask

0    False
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9     True
dtype: bool

Logic functions

In [85]:
# Given the X pandas Series, return True if none of its elements is zero

X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.any()
X

0    -1
1     2
2     0
3    -4
4     5
5     6
6     0
7     0
8    -9
9    10
dtype: int64

Summary statistics

In [87]:
# Given the X pandas Series, show the sum of its elements
X = pd.Series([3,5,6,7,2,3,4,9,4])
X.sum()

43

In [88]:
# Given the X pandas Series, show the mean value of its elements
X = pd.Series([1,2,0,4,5,6,0,0,9,10])
X.mean()

3.7

In [103]:
# Given the X pandas Series, show the max value of its elements
X = pd.Series([1,2,0,4,5,6,0,0,9,10])
X.max()

10